# NOTEBOOK 01. INITIAL EXPLORATION
This initial dashboard is particularly important, because it would be the first point of contact with the data. To understand what we're working with and what we can do.

In [3]:
REFERENCE_ROOMS_FILE = "../data/referance_rooms-1737378184366.csv"
CORE_ROOMS_FILE = "../data/updated_core_rooms.csv"
EXAMPLE_HOTELS_JSON = "../output/hotels_with_rooms.json"

In [4]:
import pandas as pd

## 1. Load the data
There are two dataframes.

### 1.1. Reference catalog
The first dataset represent the rooms that we have internally for each hotel:
* `hotel_id`: unique hotel identifier 
* `lp_id`: unique hotel id that is common between both files that can be used to unify the hotels
* `room_id`: unique room identifier 
* `room_name`

In [5]:
reference_catalog = pd.read_csv(REFERENCE_ROOMS_FILE)
reference_catalog

       hotel_id       lp_id     room_id                              room_name
0      13484077    lp23e8ef  1142730702                    Double or Twin Room
1      13487663  lp6554de34  1141927122                                  House
2      13462809  lp6556c3dc  1142722063                                   Room
3      13530116  lp6555450b  1141968275                            Triple Room
4      13530071  lp6557a92c  1142513784                              Apartment
...         ...         ...         ...                                    ...
99995     21684  lp6561b025     2168409                      Two-Bedroom Suite
99996     21684  lp6561b025     2168411                     Deluxe Triple Room
99997     21684  lp6561b025     2168412  Deluxe Queen Room with Two Queen Beds
99998     21684  lp6561b025     2168413                 Classic Quadruple Room
99999     21684  lp6561b025     2168414                     Standard King Room

[100000 rows x 4 columns]

## 1.2. Supplier data
A second dataset that contains data coming from a hotel supplier. Different suppliers use different room names. 

The goal is to identify matches between our internal room data (room_name) and supplier data (supplier_room_name), using the `lp_id` to unify the lists per hotel.
* `lp_id`: unique hotel id that is common between both files that can be used to unify the hotels
* `supplier_room_id`: unique room identifier 
* `supplier_name`: name of the supplier provided providing the room details
* `supplier_room_name`: name of the room from the suppliers

In [6]:
core_rooms_catalog = pd.read_csv(CORE_ROOMS_FILE)
core_rooms_catalog

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name
0,1,506732,lp7bb6c,200979491,Expedia,Superior Double Room
1,2,509236,lp7c534,200998017,Expedia,"Deluxe Room, Balcony"
2,3,516326,lp7e0e6,201144757,Expedia,Female Dormitory- 3 Beds
3,4,495330,lp78ee2,201028863,Expedia,"Standard Apartment, 2 Bedrooms (6 people)"
4,5,970167,lpecdb7,218116045,Expedia,"Traditional Cottage, 2 Bedrooms, Harbor View"
...,...,...,...,...,...,...
2869051,2912439,193359,lp2f34f,323872346,Expedia,"Deluxe Room, 1 King Bed with Sofa bed"
2869052,2912440,143473,lp23071,230770971,Expedia,Ocean Bay Pool Room
2869053,2912441,1701692958,lp656dc61e,322166812,Expedia,8 Berth Luxury Caravan
2869054,2912442,143473,lp23071,315521742,Expedia,Beach Room
2869055,2912443,143473,lp23071,315521743,Expedia,Hibiscus Suite

# 2. Data exploration
I will use this section to compare some example of the list of rooms that I would need to match. 

The most complicated case, would be instances where I have hotels with more than one room internally and more than one room in the supplier data.

In [7]:
hotels_with_multiple_rooms_in_reference = reference_catalog[reference_catalog["lp_id"].duplicated(keep=False)].sort_values("lp_id")
hotels_with_multiple_rooms_in_reference

,hotel_id,lp_id,room_id,room_name
13354,13647087,lp100053,1142891855,"Double Room, Shared Bathroom"
13355,13647087,lp100053,1142894019,"Deluxe Room, Shared Bathroom"
84932,13834472,lp100094,1143439193,Comfort Triple Room
84929,13834472,lp100094,1143439111,"Standard Double Room, 1 Bedroom, Non Smoking, ..."
84930,13834472,lp100094,1143439141,"Comfort Double or Twin Room, 1 Queen Bed, Non ..."
...,...,...,...,...
65920,8631657,lpfffb7,863165711,Triple Room
65921,8631657,lpfffb7,863165713,Quadruple Room
65918,8631657,lpfffb7,863165709,Family Room with Private Bathroom
51187,13913637,lpfffb9,1143561215,Private Vacation Home 3 - 8 Guests
51186,13913637,lpfffb9,1143560505,Private Vacation Home 9 - 10 Guests

In [8]:
hotels_with_multiple_rooms_in_suppliers = core_rooms_catalog[core_rooms_catalog["lp_id"].duplicated(keep=False)].sort_values("lp_id")
hotels_with_multiple_rooms_in_suppliers

,core_room_id,core_hotel_id,lp_id,supplier_room_id,supplier_name,supplier_room_name
933865,936378,1048596,lp100014,218425046,Expedia,Standard Double Room
930496,933009,1048596,lp100014,218425047,Expedia,"Double Room, 1 King Bed, 1 Rollaway Bed"
572754,575267,1048607,lp10001f,218425679,Expedia,"Standard Double Room, 1 Queen Bed, Non Smoking"
560024,562537,1048607,lp10001f,218425678,Expedia,"Standard Single Room, 1 Twin Bed, Non Smoking"
567395,569908,1048607,lp10001f,218425776,Expedia,"Comfort Double Room, 1 Queen Bed, Non Smoking,..."
...,...,...,...,...,...,...
937049,939562,1048562,lpffff2,217853747,Expedia,"Basic Room, 3 Bedrooms"
928009,930522,1048562,lpffff2,217827267,Expedia,"Design Apartment, Non Smoking"
879038,881551,1048563,lpffff3,229852323,Expedia,"Deluxe Room, Hot Tub, Valley View (ou vue piste)"
867702,870215,1048563,lpffff3,229852302,Expedia,"Superior Room, Valley View (ou vue piste)"
873386,875899,1048563,lpffff3,229852324,Expedia,Luxury Suite (Princes Ã‰vÃªques)

In [9]:
hotels_with_multiple_rooms_in_both_lists = hotels_with_multiple_rooms_in_reference[hotels_with_multiple_rooms_in_reference["lp_id"].isin(hotels_with_multiple_rooms_in_suppliers["lp_id"])]
hotels_with_multiple_rooms_in_both_lists

,hotel_id,lp_id,room_id,room_name
13354,13647087,lp100053,1142891855,"Double Room, Shared Bathroom"
13355,13647087,lp100053,1142894019,"Deluxe Room, Shared Bathroom"
84932,13834472,lp100094,1143439193,Comfort Triple Room
84929,13834472,lp100094,1143439111,"Standard Double Room, 1 Bedroom, Non Smoking, ..."
84930,13834472,lp100094,1143439141,"Comfort Double or Twin Room, 1 Queen Bed, Non ..."
...,...,...,...,...
1074,13604431,lpfff72,1142042622,Deluxe Tent
15260,13606317,lpfff8b,1142044451,Two Bedroom
15261,13606317,lpfff8b,1142044462,One Bedroom
51187,13913637,lpfffb9,1143561215,Private Vacation Home 3 - 8 Guests
51186,13913637,lpfffb9,1143560505,Private Vacation Home 9 - 10 Guests

That would be a good illustration for the task we're trying to solve. We have two lists with rooms and we try to make sense of it. Some of the rooms are the very exact name. 

Some others, have very different names.

* **One important observation is that our reference list, doesn't contain all the rooms in the supplier's data. I'd like to understand why are we not including everything in our db**

In [11]:
import json

examples_of_hotels_with_multiple_rooms = ["lp42bfe", "lp4cd34", "lp3dd6f", "lp10037d"]

records = []

for hotel in examples_of_hotels_with_multiple_rooms:
    rooms_in_reference = reference_catalog.loc[
        reference_catalog["lp_id"] == hotel, "room_name"
    ].tolist()

    supplier_rooms = core_rooms_catalog.loc[
        core_rooms_catalog["lp_id"] == hotel, "supplier_room_name"
    ].tolist()

    record = {
        "hotel_id": hotel,
        "reference_rooms": rooms_in_reference,
        "rooms_in_supplier_data": supplier_rooms,
    }
    records.append(record)

# save to JSON
with open(EXAMPLE_HOTELS_JSON, "w", encoding="utf-8") as f:
    json.dump(records, f)

In [13]:
with open(EXAMPLE_HOTELS_JSON, "r", encoding="utf-8") as f:
    data = json.load(f)

for record in data:
    print(record["hotel_id"])
    print(record["reference_rooms"])
    print(record["rooms_in_supplier_data"])
    print("-------------------------------------------------------------------------")
    print("-------------------------------------------------------------------------")

lp42bfe
['Junior Suite with City View', 'Junior suite with Plunge Pool & Sea view', 'Junior suite with outdoor Hot tub & Sea view', 'Standard Suite', 'Junior Suite with Private Pool', 'Family Suite', 'Junior Suite']
['Classic Room, 2 Twin Beds', 'Classic Room, 1 King Bed', 'Suite, 1 Twin Bed (Master)', 'Suite, 1 Bedroom', 'Classic Room', 'Club Room, 1 King Bed, Business Lounge Access', 'Premium Room, 2 Double Beds, Tower (Main Tower)', 'Premium Room, 1 King Bed, Tower (Main Tower)', 'Premium Room, 1 King Bed']
-------------------------------------------------------------------------
-------------------------------------------------------------------------
lp4cd34
['Apartment', 'Twin Room with Balcony', 'Twin Room with Balcony', 'One-Bedroom Apartment', 'Deluxe Apartment', 'Deluxe Apartment']
['Room, 2 Queen Beds', 'Suite, 1 Bedroom', 'Suite, 1 Bedroom', 'Room, 1 King Bed (Hearing Accessible)', 'Room, 2 Queen Beds (Hearing Accessible)', 'Room, 1 King Bed (Mobility Accessible, Roll-In Shower)', 'Room, 1 King Bed', 'Suite, 1 Bedroom (Mobility/Hearing Access, Roll-In Shwr)']
-------------------------------------------------------------------------
-------------------------------------------------------------------------
lp3dd6f
['Two-Bedroom Apartment', 'One-Bedroom Apartment', 'Apartment with Mountain View']
['Executive Room, 1 King Bed', 'Room, 1 King Bed, Accessible, Non Smoking (Mobility/Hearing, tub w grab bars)', 'Room, 2 Double Beds, Accessible, Non Smoking (Mobility/Hearing, tub w grab bars)', 'Suite, 1 King Bed', 'Room, 1 King Bed', 'Room, 2 Double Beds', 'Room, 2 Double Beds, Accessible, Non Smoking (Mobility/Hearing, walk-in shower)']
-------------------------------------------------------------------------
-------------------------------------------------------------------------
lp10037d
['Design Loft, 3 Bedrooms, Non Smoking', 'Room, Multiple Beds, Non Smoking']
['Design Loft, 3 Bedrooms, Non Smoking', 'Room, Multiple Beds, Non Smoking']
-------------------------------------------------------------------------
-------------------------------------------------------------------------